@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
    box-sizing: border-box;
    margin : 0;
    padding: 0;
}

body {
    font-family: 'Oswald', sans-serif;
    -webkit-font-smoothing: antialiased;
  
}

h1, h2, h3, h4 {
    color : #000;
}

.showcase {
    border: 1px solid #fff;
    width: 100%;
    height : 90vh;
    position: relative;
}

.showcase-title {
    position: relative;
    /* top | right | bottom | left */
    margin : 5rem 3rem 0 3rem;
    padding-top: 1rem;
    padding-left: 1rem;
    z-index: 3;

}
.showcase-title #title-left{
    font-weight: 800;
    font-size: 5rem;
    line-height : 0.8;
    margin: 0 0 2rem;
}

.showcase-title #title-right{
    font-weight: 800;
    font-size: 5rem;
    line-height : 0.8;
    margin-left : 5rem;
}
.showcase-pic {
    position : relative;
    height: 60vh;
    margin: -1.5rem 3rem 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('../img/main_2.jpg')  no-repeat center center/cover;
}
.showcase-pic::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 120px 100px 250px rgb(72, 72, 72), inset -120px -100px 250px rgb(71, 71, 71),;
}
.showcase-pic a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 3;
    text-decoration: none; 
}


/* Quiz Main */
.quiz{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* 퀴즈 결과창 */
.quiz-result-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quiz-result-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.quiz-result-content h1{
    color: #fff;
    font-size: 4rem;
    margin-bottom: 3rem;
}

.quiz-result-display {
    font-size: 2.2rem;
}

.quiz-retry {
    margin-top: 1.2rem;
}

.quiz-retry a {
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
}

.quiz-retry i {
    margin-left: 1rem;
}

#quiz-retry-button {
    width: 100%;
    height: 3rem;
    cursor: pointer;
    border: none;
}

/* Quiz-aside */
.quiz-aside-container {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: url('../img/quiz_aside_img_1.jpg') no-repeat center center/cover;
}

.quiz-aside-home a{
    top: 0;
    left: 0;
    margin-left: 1rem;
    font-size: 1.5rem;
}

.quiz-aside-home a:visited {
    color: #000;
}

.quiz-aside-home a:hover {
    color: rgba(0, 0, 0, 0.534);
}

.quiz-aside-container>:nth-child(2){
    align-self: center;
    margin-top: 29vh;
    font-size: 3.8rem;
    font-weight: 650;
    color: #fff;
    text-transform: uppercase;
    text-shadow: -1px 0 #000,
	       0 1px #000,
	       1px 0 #000,
	       0 -1px #000;
}

/* Quiz-question */
.quiz-container{
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 퀴즈 번호 */
.quiz-question-num {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 2rem;
    font-weight: 700;
    width: 80%;
    height: 2rem;
    margin-top: 3rem;
}

/* 퀴즈 질문 */
.quiz-question-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    width: 80%;
    height: 8rem;
}

/* 퀴즈 선택지 */
.quiz-option-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 12rem;
}

.quiz-option-container span {
    width: 45%;
    height: 4rem;
    overflow: hidden;
    background-color: rgb(239, 240, 250);
}

span label {
    display: flex;
    align-items: center;
    position: relative;
    padding : 6px 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 0.3s;
    font-weight: 600;
}

label .alphabet {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.3rem;
    height: 2.7rem;
    margin-left: 0.4rem;
    margin-top: 0.2rem;
    background-color: #fff;
}

.answer {
    margin-left: 1rem;
}

input[type="radio"] {
    position: absolute;
    display: none;
}

input[type="radio"]:checked ~ .option {
    background: rgb(164, 170, 235);
}

.select:hover input ~ .option{
    background: rgb(204, 205, 224);
}

.quiz-btn-move {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 3rem;
    margin-top: 5rem;
}

.quiz-btn-move button{
    width: 100%;
    height: 3rem;
    cursor: pointer;
    margin: 1rem;
    border: none;
}

.quiz-btn-move button:hover {
    background:  rgb(149, 150, 161);
    border-collapse: collapse;
}

.quiz-btn-move button:checked {
    background-color: rgb(192, 195, 228);
}

/* 입력 유효성 검사창 */
.quiz-alert-container{
    display: none;
    position: fixed;
    z-index: 1;
    width: 50%;
    height: 10%;
    background-color: rgb(231, 224, 224);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Progress bar */
.quiz-progress{
    display: flex;
    flex-wrap: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(216, 216, 216);
    grid-column: 1 / 4;
    grid-row : 3 / 4;
    height: 10vh;
}

#quiz-progress-container {
    width:70%;
    height : 30%;
    background-color: rgb(226, 227, 238);
}

#quiz-progress-bar {
    width: 7%;
    height : 100%;
    background-color: rgb(174, 180, 243);
}

#questionCnt{
    color: #000;
    margin-left: 1rem;
}

/* footer */
.footer {
    max-width: 80%;
    height: 15vh;
    margin:  1rem auto;
    overflow: auto;
    text-align: center;
}
.footerul li { 
    display: inline;
 }

 .footerul a { 
    margin: 0 10px;
 }


/* Buttons */
.btn {
    display: inline-block;
    background: #000;
    color: #fff;
    padding : 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor : pointer;
    margin-right : 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0,0,0,0.45);
    border-radius: 2px;
}

.btn-xl {
    font-size: 4rem;
    padding: 1.5rem 2.1rem;
    text-transform: uppercase;
}
.btn-rounded {
    border-radius: 6px;
}
.btn:hover {
    opacity: 0.9;
}


@media (max-width: 540px) {
   .btn-xl {
       font-size: 2.5rem;
   }
   .showcase {
        height : 80vh;
    }
   .showcase-pic {
        height: 50vh;
    }
   .quiz-aside-container {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        height: 20vh;
    }
    .quiz-container{
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }

    .quiz-progress{
        grid-column: 1 / 4;
        grid-row : 3 / 4;
    }

    
    .quiz-aside-container>:nth-child(2){
        margin-top: 2vh;
    }
    
    .quiz-aside-home a:visited {
        color: #fff;
    }
}